body {
  font-family: "MyriadPro";
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #000000;
  background: #000000;
  text-transform: uppercase;
}
h1, h2, h3{
  font-family: "Arial";
  font-size: 30px;
  line-height: 36px;
  font-weight: bolder;
}
h3, .features p, footer p{
  color:#ffffff;
}
.gallery, .news, .contacts, .appointment, .catalog-conteiner, .catalog-item-conteiner{
  background: #f6f3f0;
}
.catalog-item-conteiner h3{
  color: #000000;
}
/*.visually-hidden{
 position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
  border: 0;
}
